<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js">
  </script>
  <script type="text/javascript" src="https://dl.dropbox.com/s/vtp6geva5b8kkhj/foggy.js?dl=0"></script>
  <script type="text/javascript" src="../static/js/OLSET.js"></script>
</head>

<body>
	<div id="overlay"></div>
	<div id="specialBox">
  		<h2 class="form-password-heading">Please Enter Secret Code</h2>
  		<h5 id="error-message">Oops, wrong code. Check line 8 of OLSET.js</h5>
  		<form id="submit-form"><input id="get-code" type="password" class="form-control" placeholder="super secret code" required autofocus />
  		<button id="btn-click">Enter</button></form>
	</div>

	<div id="wrapper">
		<h1 id="name">Malina Arevalo</h1>
		<div id="details">
			<h3>
				<span id="address" class="details">259 Upper Terrace Apt. 1 San Francisco, CA. 94117</span>
				<span id="email-phone" class="details">arevalomalina@gmail.com Telephone: 415-696-3852</span>
			</h3>
		</div>
		<hr id="horizontal-line">
		<table>
  			<tr>
    			<td>LANGUAGES AND TOOLS</td>
    			<td><span style="float:left">Python, Flask, Jinja, JQuery, Sqlite, Sqlalchemy, JavaScript, HTML, CSS, Bootstrap, Ajax</span></td>		
  			</tr>
  			<tr>
  				<td valign="top">TECHNICAL EXPERIENCE</td>
  				<td>
  					<span style="float: left">Hackbright Summer 2014 Graduate</span><br/>
  					<ul>
  						<li> Graduated intensive 10-week fellowship for women (7.5% acceptance rate) to become a full stack web developer and complete multiple web applications.</li>
  						</ul>
  					<span style="float: left"> Projects</span><br/>
  					<ul>
  						<li>
  							Wrote a program that logs into an employee portal, scrapes the landing page and reads a flight attendant schedule in PDF form, parses the data and returns select information from schedules in a usable HTML format.
  						</li>
  						<li>
							Designed and built a web app that allows small scale dog walkers to schedule appointments, process payments, share photos with clients in a real-time feed via the Instagram API, process contract signatures, and manage their clients with an automated notification system for payments and appointment reminders.
						</li>
						<li>
							Built and deployed a Twitter bot that parses n distinct source texts and applies Markov Chains to build predictive "mash-up" content.
						</li>
					</ul>
  				</td>
  			</tr>
  			<tr>
  				<td valign="top">EMPLOYMENT</td>
  				<td>
  					<span style="float: left">PRODUCT AND MARKETING SPECIALIST</span><br/>
  					<span style="float: left;" class="small-italic">Pledgerunner, Benicia, CA</span>
  					<span style="float: center" class="small-italic">February 2014-June2014</span><br/>
  					<ul>
  						<li>
  							Managed a team of three marketing specialists to design and launch first large scale marketing campaign that was implemented during the SXSW campaign, increasing company's user base 20-fold.
  						</li>
  						<li>
  							Created content and curated user responses on Twitter and Facebook during marketing campaign to increase social media presence and respond to clients and users.
  						</li>
  						<li>
  							Generated and contacted over one hundred leads for business partnerships with Pledgerunner, resulting in 42% increase in revenue-producing clients.
  						</li>
  					</ul>
  						<br/>
  					<span style="float: left">FLIGHT ATTENDANT</span><br/>
 					<span style="float: left" class="small-italic"> United Airlines, San Francisco, CA</span>
 					<span style="float: center" class="small-italic">October 2007-March 2014</span>
 						<br/>
 					<ul>
 						<li>
 							Designated Language Speaker for German-speaking patrons on international flights, responsible for in-person German language translation services and delivering public flight announcements
 						</li>
 						<li>
 							Responsible for customer satisfaction by providing in-flight customer service for anywhere from 200 to 1000+ customers per day on international and domestic routes, including being appointed Head Flight Attendant and managing service team
 						</li>
 						<li>
 							Responded to a wide variety inflight medical emergencies, including administering medical assistance, contacting a doctor, and coordinated communication between crew, passengers, and medical staff inflight.
 						</li>
 					</ul>
  				</td>
  			</tr>
  			<tr>
  				<td valign = "top">EDUCATION</td>
  				<td><span style="float: left">SAN FRANCISCO STATE UNIVERSITY</span><br/>
  				<span style="float: left" class="small-italic">San Francisco, CA. Bachelors in Art History, Bachelors in German Language</span></td>
  			</tr>
 		</table>
	</div>
</body>
</html>